body {
    font-family: Arial;
    background: #f2f2f2;
    padding: 30px;
}

.admin-container {
    background: white;
    padding: 25px;
    border-radius: 10px;
}

h1 {
    margin-bottom: 20px;
}

.search-box {
    margin-bottom: 20px;
}

.search-box input {
    padding: 8px;
    width: 250px;
}

.search-box button {
    padding: 8px 12px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

th {
    background: #eee;
}

.delete {
    color: red;
    font-size: 22px;
    text-decoration: none;
}
