body {
    font-family: Arial, sans-serif;
    background: #eaeaea;
    padding: 20px;
}

.container {
    max-width: 1400px;
    margin: auto;
    background: #fff;
    padding: 25px;
    border-radius: 10px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

#search {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 16px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background: #333;
    color: white;
    padding: 8px;
}

td {
    border: 1px solid #ccc;
    padding: 6px;
    text-align: center;
}

input, select {
    width: 100%;
    padding: 5px;
}

.actions {
    display: flex;
    justify-content: center;
    gap: 10px;
}

button {
    background: green;
    color: white;
    border: none;
    padding: 6px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.delete {
    background: red;
    color: white;
    padding: 6px 10px;
    border-radius: 4px;
    text-decoration: none;
}
