body {
    font-family: Arial, sans-serif;
    background:#f2f2f2;
    margin:0;
    padding:20px;
}

.container {
    max-width:600px;
    margin:auto;
    background:#fff;
    padding:25px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
}

.logo {
    display:block;
    margin:0 auto 15px;
    width:140px;
}

h1,h2 {
    text-align:center;
    margin:0;
    padding:0;
}

h1 { font-size:2em; color:#0060b8;}
h2 { font-size:1.6em; margin-bottom:20px; color:#7ccc00; font-weight:bold;}

label {
    display:block;
    margin-top:15px;
    font-weight:bold;
}

input, select, canvas {
    width:100%;
    padding:10px;
    margin-top:5px;
    border-radius:5px;
    border:1px solid #ccc;
    font-size:1em;
}

canvas {
    border:1px solid #ccc;
    border-radius:5px;
    display:block;
    margin:0 auto;
    height:150px;
    touch-action:none;
}

.checkbox-container {
    display:flex;
    align-items:center;
    margin-top:20px;
}

.checkbox-container input {
    width:auto;
    margin-right:10px;
}

.reset-btn {
    margin-top:10px;
    padding:10px;
    background:#777;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
}

.reset-btn:hover { background:#555; }

button {
    width:100%;
    margin-top:25px;
    padding:12px;
    background:#cc0000;
    color:white;
    font-size:1.2em;
    border:none;
    border-radius:5px;
    cursor:pointer;
}

button:disabled {
    background: #aaa;
    cursor: not-allowed;
}

button:hover:enabled {
    background:#aa0000;
}
